@import '_mixin.scss';
@import '_variables.scss';

html {
  box-sizing: border-box;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p,
figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
ul,
p,
button,
a,
label,
input,
select {
  font-family: inherit;
}


/*global*/

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.btn {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Regular'), url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'), url('../assets/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Semibold'), url('../assets/fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../assets/fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Bold'), url('../assets/fonts/OpenSans-Bold.woff2') format('woff2'), url('../assets/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 16px;
  color: #333333;
}

.section {
  padding-top: $sectionPadding;
}

/*header*/

.header {
  width: 100%;
  position: absolute;
  z-index: 10;

  &__container {
    align-items: center;
  }

  &__upper {
    padding: 30px 0;
    background-color: #000;
  }

  &__logo {
    flex-shrink: 0;
    font-size: 0;
    margin-right: 179px;
  }

  &__burger {
    display: none;
    position: relative;
    width: 36px;
    height: 28px;

  }

  &__burger-line {
    position: absolute;
    width: 28px;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: white;
    z-index: 50;
  }

  &__burger-line::before {
    position: absolute;
    content: '';
    width: 36px;
    height: 4px;
    top: -12px;
    left: 0;
    background-color: white;
    z-index: 100;
  }

  &__burger-line::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 4px;
    top: 12px;
    left: 0;
    background-color: white;
    z-index: 100;
  }

  &__burger--active &__burger-line {
    width: 36px;
    top: 0;
    transform: rotate(45deg);
    transform-origin: center;
  }

  &__burger--active &__burger-line::before {
    top: 0;
    transform: rotate(-90deg);
    transform-origin: center;
  }

  &__burger--active &__burger-line::after {
    opacity: 0;
  }

  &__search-dropdown {
    display: none;
    align-items: center;

  }

  &__dropdown-search {
    margin-right: 11px;
  }

  &__dropdown-input {
    margin-right: 24px;
    background-color: transparent;
    border: 0;
    width: 218px;
    border-bottom: 1px solid white;
    caret-color: white;
    color: white;
  }

  &__dropdown-close {
    background-color: transparent;
  }

  &__search-add {
    display: none;
  }

  &__burger-content {
    width: 100%;
    justify-content: space-between;
  }

  &__login {
    position: relative;
    z-index: 50;
    justify-self: end;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    transition: color 0.3s ease-in-out;
  }

  &__login::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    z-index: -1;
    background-color: $darkPurple;
    width: 120%;
    height: 110%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__login-svg {
    fill: white;
    margin-right: 2px;
    transition: fill 0.3s ease-in-out;
  }

  &__login:focus:not(:hover)::before {
    opacity: 1;
  }

  &__login:hover {
    color: $lightPurple;
  }

  &__login:hover &__login-svg {
    fill: currentColor;
  }

  &__login:active {
    color: $darkPurple;
  }

  &__login:active &__login-svg {
    fill: currentColor;
  }


  &__lower {
    display: flex;
    padding: 23px 0 21px;
    background: rgba(0, 0, 0, 0.4);
  }

  &__container-lower {
    width: 100%;
    justify-content: space-between;
  }

  &__search {
    position: absolute;
    top: 2px;
    left: 0;
    width: 22px;
    height: 22px;
    background-image: url('../assets/img/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.nav {
  &__list {
    flex-wrap: wrap;
  }

  &__link::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    z-index: -1;
    background-color: $darkPurple;
    width: 120%;
    height: 110%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }



  &__item:not(:last-child) {
    margin-right: 62px;
  }



  &__link {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    z-index: 50;
    transition: color 0.3s ease-in-out;
  }

  &__link:focus:not(:hover)::after {
    opacity: 1;
  }

  &__link:hover {
    color: $lightPurple;
  }

  &__link:active {
    color: $darkPurple;
  }
}

.direction {
  &__list {
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    position: relative;
  }

  &__span {
    position: relative;
    z-index: 50;
  }


  &__span::before {
    position: absolute;
    top: 50%;
    left: -6px;
    content: '';
    z-index: -10;
    background-color: $darkPurple;
    width: calc(100% + 28px);
    height: 110%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__item:not(:last-child) {
    margin-right: 96px;
  }



  &__dropdown.is-active {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateY(100%)
  }

  &__dropdown {
    display: none;
  }

  &__dropdown-wrapper {
    max-height: 240px;
    overflow: auto;

    .dropdown__item {
      display: flex;
      align-items: center;
      width: 220px;
      height: 40px;
      margin-bottom: 20px;
      padding: 0 10px;
      @include bgStyle;
    }

    .dropdown__item1 {
      background-image: url('../assets/img/realism_1.jpg');
    }

    .dropdown__item2 {
      background-image: url('../assets/img/realism_2.jpg');
    }

    .dropdown__item3 {
      background-image: url('../assets/img/realism_3.jpg');
    }

    .dropdown__item4 {
      background-image: url('../assets/img/realism_4.jpg');
    }

    .dropdown__item5 {
      background-image: url('../assets/img/impess_1.jpg');
    }

    .dropdown__item6 {
      background-image: url('../assets/img/impess_2.jpg');
    }

    .dropdown__item7 {
      background-image: url('../assets/img/impess_3.jpg');
    }

    .dropdown__item8 {
      background-image: url('../assets/img/impess_4.jpg');
    }

    .dropdown__item9 {
      background-image: url('../assets/img/postimpress_1.jpg');
    }

    .dropdown__item10 {
      background-image: url('../assets/img/postimpress_2.jpg');
    }

    .dropdown__item11 {
      background-image: url('../assets/img/postimpress_3.jpg');
    }

    .dropdown__item12 {
      background-image: url('../assets/img/postimpress_4.jpg');
    }

    .dropdown__item13 {
      background-image: url('../assets/img/avant_1.jpg');
    }

    .dropdown__item14 {
      background-image: url('../assets/img/avant_2.jpg');
    }

    .dropdown__item15 {
      background-image: url('../assets/img/avant_3.jpg');
    }

    .dropdown__item16 {
      background-image: url('../assets/img/avant_4.jpg');
    }

    .dropdown__item17 {
      background-image: url('../assets/img/futur_1.jpg');
    }

    .dropdown__item18 {
      background-image: url('../assets/img/futur_2.jpg');
    }

    .dropdown__item19 {
      background-image: url('../assets/img/futur_3.jpg');
    }

    .dropdown__item20 {
      background-image: url('../assets/img/futur_4.jpg');
    }

    .dropdown__item:last-child {
      margin-bottom: 0;
    }



    .dropdown__link {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
    }
  }

  &__item-btn {
    position: relative;
    z-index: 50;
    padding-right: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    transition: color 0.3s ease-in-out;
  }

  &__item-btn::before {
    position: absolute;
    top: 50%;
    right: 7px;
    content: '';
    width: 7px;
    height: 1px;
    background-color: #FFFFFF;
    transform: translateY(3px) rotate(45deg);
    transform-origin: right bottom;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 100;
  }

  &__item-btn::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    width: 7px;
    height: 1px;
    background-color: #FFFFFF;
    transform: translateY(3px) rotate(-45deg);
    transform-origin: left bottom;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 100;
  }

  &__item-btn.is-active::before {
    transform: translateY(-3px) rotate(-45deg);
    transform-origin: right top;
  }

  &__item-btn.is-active::after {
    transform: translateY(-3px) rotate(45deg);
    transform-origin: left top;
  }

  &__item-btn:focus:not(:hover) &__span::before {
    opacity: 1;
  }

  &__item-btn:hover {
    color: $lightPurple;
  }

  &__item-btn:hover::before,
  &__item-btn:hover::after {
    background-color: currentColor;
  }

  &__item-btn:active {
    color: $darkPurple;
  }

  &__item-btn:active::before,
  &__item-btn:active::after {
    background-color: currentColor;
  }
}

.search-form {
  position: relative;
  width: calc(251 / 1600 * 100%);
  text-align: end;

  &__input {
    width: calc(220 / 251 * 100%);
    height: 26px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    transition: border 0.3s ease-in-out;
  }



  &__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);
  }

  &__input:hover:not(:focus) {
    border-bottom: 2px solid $lightPurple;
  }

  &__input:focus {
    border-color: $darkPurple;
    caret-color: #FFFFFF;
  }

  &__input:focus::placeholder {
    color: transparent;
  }
}

/*hero*/
.hero {

  padding-top: 0;

  &__title-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  &__container {
    position: relative;
  }

  &__swiper {
    width: 100%;
    height: 800px;
  }

  &__slide-one {
    background-image: url('../assets/img/hero_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__slide-two {
    background-image: url('../assets/img/hero_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__slide-three {
    background-image: url('../assets/img/hero_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    width: 100%;
    position: absolute;
    top: 233px;
    left: 15px;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }



  &__title {
    max-width: calc(597 / 1600 * 100%);
    margin-bottom: 1px;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
  }

  &__descr {
    max-width: calc(579 / 1600 * 100%);
    margin-bottom: 92px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
  }

  &__link {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 314px;
    padding: 23px 0;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background-color: $purple;
    transition: background-color 0.3s ease-in-out;
  }

  &__link::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100px;
    border: 3px solid $lightPurple;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__link::after {
    position: absolute;
    content: '';
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    border: 2px solid #D1A9F0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__link:focus::before {
    opacity: 1;
  }

  &__link:hover:not(:focus)::after {
    opacity: 1;
  }

  &__link:active:before {
    opacity: 1;
  }

  &__link:active {
    background-color: $darkPurple;
  }
}

/*about*/
.about {
  padding-bottom: 70px;

  &__title {
    color: #333333;
  }

  &__descr {
    width: calc(1080 / 1600 * 100%);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
  }
}

/*gallery*/

.gallery {
  background-image: url('../assets/img/gallery.jpg');
  @include bgStyle;
  padding-bottom: 80px;


  &__wrapper {

    justify-content: space-between;
    // flex-wrap: wrap;
  }

  &__title {
    color: #FFFFFF;
  }

  &__left {
    width: calc(400 / 1600 * 100%);
    margin-right: 50px;
  }

  &__form {
    flex-direction: column;
  }

  &__form-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
  }

  &__checkbox {
    position: relative;
    margin-right: 12px;
  }

  &__checkbox--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  &__checkbox-visible {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border: 1px solid #FFFFFF;
    transition: border-color 0.3s ease-in-out;
  }

  &__checkbox-visible::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    content: '';
    border-radius: 50%;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__checkbox-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    vertical-align: middle;
    transition: color 0.3s ease-in-out;
  }

  &__checkbox:checked~.gallery__checkbox-visible::before {
    opacity: 1;
    background-color: $lightPurple;
  }

  &__checkbox:checked~.gallery__checkbox-visible {
    border-color: $lightPurple;
  }

  &__checkbox:checked~.gallery__checkbox-text {
    color: $lightPurple;
  }

  &__checkbox:focus~.gallery__checkbox-text {
    color: $lightPurple;
  }

  &__checkbox:focus~.gallery__checkbox-visible {
    border-color: $lightPurple;
  }

  &__checkbox:hover~.gallery__checkbox-visible {
    border-color: $lightPurple;
  }



  &__right {
    width: calc(1150 / 1600 * 100%);
    padding-top: 25px;
  }

  &__navigation {
    display: inline-flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &-pagination {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin-right: 12px;
    text-align: center;
  }

  &-next::before {
    left: calc(50% - 7px / 2);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  &-next.swiper-button-disabled::before {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }


  &-prev::before {
    left: calc(50% - 7px / 2);
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  &-prev.swiper-button-disabled::before {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  &-slide {
    position: relative;
    overflow: hidden;
    background-color: #926B88;
  }

  &-slide::before {
    content: "";
    position: relative;
    z-index: 1;
    display: block;
    padding-top: calc(100% - 6px);
    border: 3px solid transparent;
    box-sizing: border-box;
    transition: background-color .3s ease, border-color .3s ease;
  }

  &-slide::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../assets/img/gallery_hover.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-clip: content-box;
    transition: opacity .5s ease;
  }


  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-prev {
    margin-right: 12px;
  }

  &-slide:focus::before {
    border-color: $lightPurple;
  }

  &-slide:hover::after {
    opacity: 1;
  }

  &-slide:active::before {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4))
  }


}

.choices {
  width: 100%;
  margin-bottom: 176px !important;

  &__list--single {
    padding: 0 16px 0 0 !important;
  }

  &__inner {
    min-height: 40px !important;
    padding: 2px 15px 4px !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 6px !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    background-color: transparent !important;
  }

  &__item.is-selected {
    display: none;
  }

  &__item--choice {
    padding: 3px 100px 4px 15px !important;
  }

  &__item--choice.is-highlighted {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }

  &__list--dropdown {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #999999;
    background: transparent !important;
    border: 1px solid #999999;
    border-radius: 6px !important;
  }
}

.choices:focus {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.choices:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.slides-container {
  overflow: hidden;
}

.nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: #527590;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.nav-btn.swiper-button-disabled {
  cursor: none;
  background-color: #ECECEC;

}



.nav-btn:not(.swiper-button-disabled):focus {
  border: 2px solid #000;
}

.nav-btn:not(.swiper-button-disabled):hover {
  background-color: $purple;
}

.nav-btn:not(.swiper-button-disabled):active {
  border: 2px solid #000;
  background-color: $darkPurple;
}

/*catalog*/

.catalog {

  &__descr {
    width: calc(1080 / 1600 * 100%);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
  }

  &__left {
    width: 50%;
    padding-right: 50px;
  }

  &__image {
    margin-bottom: 20px;
  }

  &__artist-name,
  &__blank-name {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
  }

  &__artist-years {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    margin-bottom: 5px;
  }

  &__artist-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
  }

  &__blank-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 15px;
  }

  &__right {
    width: 50%;

  }

  &__history {
    width: 100%;
  }

  &__period {
    margin-top: 0 !important;
    border: none !important;
  }

  &__period-btn {
    position: relative;
    width: 100%;
    margin-bottom: -1px !important;
    padding: 41px 0 !important;
    text-align: left;
    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 32px !important;
    color: #333333;
    border-top: 1px solid grey !important;
    border-bottom: 1px solid grey !important;



    & svg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

  }

  &__svg-round {
    fill: $grey;
    stroke: $grey;
    transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
  }

  &__period-text {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  &__period-btn:focus &__period-text {
    color: white;
    background-color: $purple;
  }

  &__period-btn:focus &__svg-round {
    fill: $extraLightPurple;
    stroke: $extraLightPurple;
  }

  &__period-btn:hover:not(:focus) &__period-text {
    color: $purple;
  }

  &__period-btn:hover:not(:focus) &__svg-round {
    fill: $extraLightPurple;
    stroke: $extraLightPurple;
  }

  &__period.is-active &__svg {
    transform: rotate(180deg) translateY(50%);
  }

  &__period.is-active &__svg-round {
    fill: $extraLightPurple;
    stroke: $darkPurple;
  }

  &__period.is-active &__period-text {
    color: $darkPurple;
    background-color: #fff;
  }

}

.ac-trigger::after {
  content: '' !important;
}

.artists {
  &__info {
    display: none;
  }

  &__info--active {
    display: flex;
    flex-direction: column;
  }

  &-blank {
    padding: 25px 0;
  }

  &__list {
    padding-top: 25px;
    padding-bottom: 25px;
    column-count: 3;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  &__link--active {
    background-color: $purple;
  }

  &__link:focus {
    background-color: $purple;
  }

  &__link:hover {
    border-bottom: 1px solid $purple;
  }

  &-blank-left {
    width: calc(275 / 800 *100%);
    height: 189px;
    background-color: #B7B7B7;
    box-shadow: inset 12px 12px white, inset -12px -12px white;
    border: 2px solid #B7B7B7;
  }

  &-blank-right {
    flex-direction: column;
    padding: 41px 0 40px 24px;
    width: calc(299 / 800 * 100%);
    height: 189px;
  }

  &-blank-title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;

  }

  &-blank-descr {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
  }

  &-blank-link {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $purple;
    z-index: 50;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  &-blank-link::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translate(-8px, -50%);
    background-color: $darkPurple;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
  }

  &-blank-link:focus {
    color: #fff;
  }

  &-blank-link:focus::after {
    opacity: 1;
  }

  &-blank-link:hover:not(:hover) {
    color: $darkPurple;
  }

  &-blank-link:active {
    color: $textColor;
  }
}

/*events*/
.events {

  &__slides {
    overflow-x: hidden;
    position: relative;
  }

  &__nav {
    position: relative;
  }

  &__next {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 50px;
    transform: translate(50%, -50%);
    background-image: url('../assets/img/next_event.svg');
    z-index: 10;
    cursor: pointer;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%) rotate(180deg);
    background-image: url('../assets/img/next_event.svg');
    z-index: 10;
    cursor: pointer;
  }

  &__prev.swiper-button-disabled {
    visibility: hidden;
  }

  &__next.swiper-button-disabled {
    visibility: hidden;
  }

  &__swiper-pagination {
    display: none;
  }

  &__swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  &__swiper-pagination .swiper-pagination-bullet-active {
    background-color: $darkGrey !important;
  }

  &__card {
    width: calc(500 / 1600 *100%);
    box-sizing: border-box;
    border: 1px solid #CACACA;
  }

  &__content {
    box-sizing: initial;
    min-height: 348px;
    padding: 13px 50px 37px;
    flex-direction: column;
  }

  &__image {
    min-height: 300px;
  }

  &__image1 {
    background-image: url('../assets/img/event_1.jpg');
  }

  &__image2 {
    background-image: url('../assets/img/event_2.jpg');
  }

  &__image3 {
    background-image: url('../assets/img/event_3.jpg');
  }

  &__image4 {
    background-image: url('../assets/img/event_4.jpg');
  }

  &__image5 {
    background-image: url('../assets/img/event_5.jpg');
  }



  &__place {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
  }

  &__date {
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
  }

  &__card-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
  }

  &__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-bottom: auto;
  }

  &__link {
    position: relative;
    text-decoration: underline;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: $purple;
    transition: color 0.3s ease-in-out;
    z-index: 30;
  }

  &__link::after {
    position: absolute;
    content: '';
    width: 104px;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translate(-8px, -50%);
    background-color: $darkPurple;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
  }

  &__link:focus {
    color: #fff;
  }

  &__link:focus::after {
    opacity: 1;
  }

  &__link:hover:not(:hover) {
    color: $darkPurple;
  }

  &__link:active {
    color: $textColor;
  }
}

/*projects*/

.projects {

  &__descr {
    width: calc(1080 / 1600 * 100%);
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
  }

  &__subtitle {
    margin-bottom: 23px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
  }

  &__clients {
    padding: 0 75px;
    position: relative;
  }

  &__swiper {
    overflow: hidden;

  }

  &__wrapper {
    box-sizing: border-box;

  }

  &__prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(180deg);
    z-index: 10;
    cursor: pointer;
  }

  &__next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
  }

  &__svg-round {
    fill: $grey;
    stroke: $grey;
    transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
  }

  &__prev:focus &__svg-round,
  &__next:focus &__svg-round {
    stroke: $purple;
  }

  &__prev:hover &__svg-round,
  &__next:hover &__svg-round {
    fill: $extraLightPurple;
    stroke: $extraLightPurple;
  }

  &__prev:active &__svg-round,
  &__next:active &__svg-round {
    fill: $extraLightPurple;
    stroke: $purple;
  }

  &__slide {
    min-width: calc(450 / 1450 * 100%);
    min-height: 150px;
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0);
    }

    &__next:hover {
      background-color: $purple;
    }
  }

  &__slide1 {
    background-image: url('../assets/img/project_1.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__slide2 {
    background-image: url('../assets/img/project_2.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__slide3 {
    background-image: url('../assets/img/project_3.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__slide4 {
    background-image: url('../assets/img/project_4.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__slide5 {
    background-image: url('../assets/img/project_5.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__slide6 {
    background-image: url('../assets/img/project_6.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__slide7 {
    background-image: url('../assets/img/project_7.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__slide8 {
    background-image: url('../assets/img/project_8.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__slide9 {
    background-image: url('../assets/img/project_9.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/*contacts*/

.contacts {
  &__container {
    border-top: 1px solid #CACACA;
  }

  &__form {
    padding-top: 36px;
    align-items: center;
    margin-bottom: 40px;
  }

  &__office {
    margin-right: 80px;
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
  }

  &__address {

    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
  }

  &__input {
    box-sizing: border-box;
    min-width: 270px;
    min-height: 50px;
    padding: 9px 24px;
    border: 1px solid #333333;
    border-radius: 100px;
    margin-right: 20px;
    transition: background-color 0.3s ease-in-out;
  }

  &__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #999999;
  }

  &__input:hover,
  &__input:focus {
    background-color: $grey;
  }

  &__btn {
    position: relative;
    box-sizing: border-box;
    margin-right: 80px;
    padding: 11px 34px;
    border: 2px solid $purple;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: $purple;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  &__btn::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100px;
    border: 3px solid $lightPurple;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__btn::after {
    position: absolute;
    content: '';
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    border: 2px solid #D1A9F0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }


  &__btn:focus:not(:hover)::after {
    opacity: 1;
  }

  &__btn:hover {
    color: white;
    background-color: $purple;
  }

  &__btn:active:before {
    opacity: 1;
  }

  &__btn:active {
    background-color: $darkPurple;
  }

  &__social {
    flex-direction: column;
  }

  &__social-text {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
  }

  &__social-link svg {
    transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  &__social-link:not(:last-child) {
    margin-right: 20px;
  }

  &__map {
    height: 700px;
  }

  &__social-link:focus svg {
    opacity: 0.5;
  }

  &__social-link:hover svg {
    opacity: 0.5;
  }

  &__social-link:active svg {
    border: 1px solid $purple;
  }

}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/*footer*/
.footer {
  background-color: #000;

  &__content {
    justify-content: space-between;
    padding: 44px 0 41px;
  }

  &__social-link {

    & svg {
      fill: #CACACA;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:focus svg {
      fill: #fff;
    }

    &:hover svg {
      fill: #fff;
    }

    &:active svg {
      fill: $purple;
    }
  }
}


@media (max-width: 1400px) {
  .container {
    padding: 0 50px;
  }

  .header {
    &__container {
      width: 100%;
      justify-content: space-between;
    }

    &__logo {
      margin-right: 0;
    }

    &__burger {
      display: block;
    }

    &__burger-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      padding: 97px 48px 50px;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.9);
      visibility: hidden;
      transform: translateX(-110%);
      transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    &__burger-content--active {
      visibility: visible;
      transform: none;
    }

    &__login {
      align-self: flex-start;
      padding: 17px 90px 14px;
      border: 2px solid $purple;
      border-radius: 100px;
    }

    &__search-dropdown {
      display: block;
      position: absolute;
      top: 36px;
      right: 50px;
      z-index: 100;
      visibility: hidden;
      transform: translateY(-200%);
      transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    &__search-dropdown--active {
      visibility: visible;
      transform: none;
    }

    &__search-add {
      display: block;
      transition: opacity 0.3s ease-in-out;
    }

    &__lower {
      display: none;
    }
  }

  .nav {
    max-width: 200px;

    &__list {
      flex-direction: column;
    }


    &__link {
      font-size: 24px;
      line-height: 64px;
    }
  }

  .hero {
    &__content {
      top: 205px;
      left: 50px;
    }

    &__title {
      max-width: calc(585 / 924 * 100%);
    }

    &__descr {
      max-width: calc(661 / 924 * 100%);
    }
  }

  .contacts {
    &__form {
      flex-direction: column;
      align-items: flex-start;
    }

    &__office {
      margin-right: 0;
      margin-bottom: 30px;
    }

    &__btn {
      margin-right: 0;
    }

    &__submit {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 1200px) {
  .hero {
    &__title {
      margin-bottom: -10px;
    }

    &__descr {
      margin-bottom: 134px;
    }

    &__swiper {
      height: 768px;
    }
  }

  .about {
    &__descr {
      width: 100%;
    }
  }

  .gallery {
    &__left {
      width: calc(280 / 924 * 100%);
    }

    &__right {
      width: calc(594 / 924 * 100%);
    }

    &-slide::before {
      padding-top: calc(112% - 6px);
    }
  }

  .choices {
    margin-bottom: 106px !important;
  }

  .catalog {
    &__descr {
      width: 100%;
    }

    &__content {
      justify-content: space-between;
    }

    &__left {
      width: calc(437 / 924 * 100%);
      padding-right: 0;
    }

    &__right {
      width: calc(437 / 924 * 100%);
    }

    &__image {
      margin-bottom: 26px;
    }

    &__artist-name {
      margin-bottom: 9px;
    }

    &__blank-descr {
      line-height: 22px;
      margin-bottom: 15px;
    }
  }

  .artists {
    &__list {
      column-count: 2;
    }

    &-blank-left {
      width: calc(189 / 437 * 100%);
      height: 130px;
    }

    &-blank-right {
      width: calc((437 - 189) / 437 * 100%);
      padding: 0;
      padding-left: 25px;
      height: 130px;
    }
  }

  .events {
    &__image {
      min-height: 200px;
    }

    &__content {
      min-height: 431px;
      padding: 13px 34px 49px;
    }

    &__place {
      align-self: flex-end;
    }

    &__date {
      align-self: flex-end;
      margin-bottom: 5px;
    }

    &__card-title {
      margin-bottom: 6px;
    }
  }

  .projects {
    &__descr {
      width: 100%;
    }

    &__clients {
      padding: 0 53px;
    }

    &__slide {
      min-height: 128px;
    }
  }

  .contacts {
    &__form {
      padding-top: 43px;
    }

    &__name {
      margin-bottom: 5px;
    }

    &__btn {
      padding: 11px 41px;
    }
  }

  .footer {
    &__social-link {

      display: inline-block;
      width: 60px;
      text-align: center;

      &:not(:last-child) {
        margin-right: 26px;
      }

      & svg {
        transform: scale(1.33);
      }
    }
  }
}


@media (max-width: 1024px) {
  .events {

    &__prev,
    &__next {
      display: none;
    }

    &__card {
      margin-bottom: 30px;
    }

    &__swiper-pagination {
      display: block;
      bottom: 0 !important;
    }
  }
}
